<div class="container-fluid">
    <div class="row-fluid">

          <div class="col-md-2 col-lg-2 sidebar blog-sidebar">
              <div class="sidebar-item-period categories">

                  <h4>Período</h4>
                  {% include "vis_treemap/period.html" %}

                </div>
          </div>

          <div class="col-md-8 col-lg-8 text-center">
              <div class="vis" id="d3visp"></div>
              <a id ="label2" name="sourceandkeywords"  class="text-center u" href="inicio">
                 Comparar palavras-chave por fonte
              </a>


          </div>

          <div class="col-md-2 col-lg-2 sidebar blog-sidebar">
            <div class=" sidebar-item tag-cloud">

                <h4>Fontes</h4>
                {% include "vis_treemap/sources.html" %}

            </div>

            <div class=" sidebar-item tag-cloud">
                <h4>Palavras-chave</h4>
                {% include "vis_treemap/keywords.html" %}
            </div>
        </div>
    </div>
</div>
