<div class="container">
  <div class="row">
      <div class="col-md-12 text-center">
        <form class="form" role="form">
          <div class="form-group">
        <label class="checkbox-inline-month">
            <input type="checkbox"> Janeiro
        </label>
        <label class="checkbox-inline-month">
            <input type="checkbox"> Fevereiro
        </label>
        <label class="checkbox-inline-month">
          <input type="checkbox"> Março
        </label>
        <label class="checkbox-inline-month">
            <input type="checkbox"> Abril
        </label>
        <label class="checkbox-inline-month">
            <input type="checkbox"> Maio
        </label>
        <label class="checkbox-inline-month">
            <input type="checkbox"> Junho
        </label>
        <label class="checkbox-inline-month">
            <input type="checkbox"> Julho
        </label>
        <label class="checkbox-inline-month">
            <input type="checkbox"> Agosto
        </label>
        <label class="checkbox-inline-month">
            <input type="checkbox"> Setembro
        </label>
        <label class="checkbox-inline-month">
            <input type="checkbox"> Outubro
        </label>
        <label class="checkbox-inline-month">
            <input type="checkbox"> Novembro
        </label>
        <label class="checkbox-inline-month">
            <input type="checkbox"> Dezembro
        </label>
        </div>
      </form>
      </div>
    </div>
      <!-- /.row -->
    </div>
