<ul class="nav nav-pills">
  <form class="form" role="form">
    <div class="form-group">
<li>

            <label class=" col-md-12  col-lg-12 checkbox-inline checkbox-inline-red " for="scheckbox1">
                <input type="checkbox" name="source" id="oglobo"> O Globo
              </label>
            <label class="col-md-12 col-lg-12 checkbox-inline checkbox-inline-green" for="scheckbox2">
                <input type="checkbox" name="source" id="folha"> Folha S. Paulo
            </label>
            <label class="col-md-12 col-lg-12 checkbox-inline checkbox-inline-blue" for="scheckbox3">
                <input type="checkbox" name="source" id="estadao"> Estadao
            </label>
            <label class="col-md-12 col-lg-12 checkbox-inline checkbox-inline-purple" for="scheckbox4">
                <input type="checkbox" name="source" id="g1"> G1
            </label>
            <label class="col-md-12 col-lg-12 checkbox-inline checkbox-inline-yellow" for="scheckbox5">
                <input type="checkbox" name="source" id="cartacapital"> Carta Capital
            </label>
 </li>
</div>
</form>
</ul>
